.page {
  background-image: url("/images/home-half1.svg"), url("/images/home-half2.svg");
  background-position: 0 40vh, 100% 40vh;
  background-repeat: no-repeat, no-repeat;
  background-color: #ee7155;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.main {
  padding: 2rem 3rem 0 3rem;
  flex: 1;
  overflow-x: hidden;
}

.h1 {
  font-size: 2rem;
  -webkit-text-stroke: 1.5px;
  text-align: center;
}

.h2 {
  margin: 1rem auto;
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
  max-width: 798px;
}

.btn {
  height: max-content;
  padding: 0.15rem 0.3rem;
  font-weight: bold;
  background-color: #ee7155;
  border-radius: 5px;
  color: white;
}

.poll_result {
  min-height: 15rem;
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: whitesmoke;
  color: whitesmoke;
  padding: 1rem;
  border: 1px solid #1d3336;
  border-radius: 15px;
  box-shadow: 1px 1px 6px #1d3336;
}

@media only screen and (max-width: 768px) {
  .question_card, .poll_result {
    width: 100% !important
  }
}